* {
    margin: 0;
    padding: 0;
}

nav {
    font-size: 1.4em;
    background: rgb(31, 150, 142);
}

nav ul {
    list-style: none;
    padding: 0;
    display: table;
    background: rgb(11, 56, 189);
    position: absolute;
    width: 100%;
}

nav a {
    display: block;
    padding: 0 3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}

nav>ul>li {
    float: left;
    width: 320px;
    line-height: 70px;
}

nav li {
    position: relative;
}

nav li li {
    max-height: 0;
    transition: all 1s;
}

nav li:hover>ul>li {
    visibility: visible;
    max-height: 500px;
    overflow: visible;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}