* {
  margin: 0;
  padding: 0;
}
.titulo {
  font-family: "Redressed";
  color: rgb(23, 23, 129);
  font-size: 45px;
  font-weight: 800;
  font-style: initial;
  display: inline-block;
}

.span7 {
  color: rgb(197, 49, 49);
}
.contenido {
  font-family: "Lobster", cursive;
  font-size: 20pt;
  color: rgb(1, 1, 44);
  font-size: 25px;
  font-weight: 500;
  font-style: inherit;
}
.categorias {
  font-size: 32pt;
  font-family: "Courgette", cursive;
  color: rgb(27, 27, 112);
  font-size: 40px;
  font-weight: 400;
  font-style: initial;
}
.maslibros {
  font-size: inherit;
  font-family: "Courgette", cursive;
  color: rgb(157, 157, 248);
  font-size: 40px;
  font-weight: 400;
  font-style: initial;
}
.ctabla {
  border: double 3px black;
  padding: 10px;
  background-color: rgb(203, 250, 184);
  text-align: justify;
  width: 370px;
  display: inline;
  margin: 50px 50px 50px 50px;
}
.ctabla1 {
  border: double 3px black;
  padding: 10px;
  background-color: rgb(107, 86, 86);
  text-align: justify;
  width: 1000px;
  display: inline;
  margin: 50px 50px 50px 50px;
}
.ctabla2 {
  border: double 3px black;
  padding: 10px;
  background-color: rgb(226, 183, 247);
  text-align: justify;
  width: 1000px;
  display: inline;
  margin: 50px 50px 50px 50px;
}
.ctabla3 {
  border: double 3px black;
  padding: 10px;
  background-color: rgb(248, 224, 171);
  text-align: justify;
  width: 1000px;
  display: inline;
  margin: 50px 50px 50px 50px;
}
.ctabla4 {
  border: double 3px black;
  padding: 10px;
  background-color: rgb(183, 250, 235);
  text-align: justify;
  width: 1000px;
  display: inline;
  margin: 50px 50px 50px 50px;
}
.c1 {
  align-self: center;
  width: 200px;
}
.k1 {
  width: 1000px;
}
.k2 {
  width: 300px;
}
.k3 {
  width: 300px;
}

p.espaciado {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  line-height: 3em;
  text-align: justify;
}
p.izquierda {
  text-align: left;
  font-size: 1em;
}
p.derecha {
  text-align: right;
  font-size: 1em;
}
p.centro {
  text-align: center;
  font-size: 1em;
}
p.justificado {
  text-align: justify;
  font-size: 1em;
}
.indentado {
  text-align: justify;
  font-size: 1em;
  text-indent: 5em;
}
.primera {
  font-size: 2em;
}
.litle {
  border: solid 3px black;
  padding: 10px;
  background-color: pink;
  text-align: justify;
  width: 370px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
}
.litle1 {
  border: solid 3px black;
  padding: 10px;
  background-color: rgb(16, 98, 173);
  text-align: justify;
  width: 370px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
}
.litle2 {
  border: solid 3px black;
  padding: 10px;
  background-color: rgb(30, 180, 30);
  text-align: justify;
  width: 370px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
}
.litle3 {
  border: solid 3px black;
  padding: 10px;
  background-color: rgb(255, 230, 0);
  text-align: justify;
  width: 370px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
}
.litle4 {
  border: solid 3px black;
  padding: 10px;
  background-color: rgb(218, 5, 182);
  text-align: justify;
  width: 370px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
}
.litle5 {
  border: solid 3px black;
  padding: 10px;
  background-color: rgb(0, 255, 234);
  text-align: justify;
  width: 370px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
}
