* {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: rgb(48, 0, 0);
  height: 45px;
  border-bottom: 1px solid #292929;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
}

a {
  flex: 5;
  font-family: cursive;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu :hover {
  background-color: rgba(110, 51, 51, 0.87);
}
